{% load static %}
<div class="col-12 pt-5" >
    <div class="row">
        <div class="col-4 c">
            <h2 style="font-size: 25px;">Proyecto</h2>
            <p style="font-size: 20px;">Esta aplicación es producto del equipo de desarrollo y diseño<br> de la Inhouse52 - Centro de Producción de Soluciones Inteligentes - SENA.</p>
        </div>

        <div class="col-4 c">
            <h2 style="font-size: 25px;">Contacto</h2>
            <p style="font-size: 20px;">Informacion sobre el projecto
                <br>Centro de Producción de Soluciones Inteligentes
                <br>cpsi@gmail.com
            </p>
        </div>
        <div class="col-4 c">
            <h2>Social Media Sena</h2>
            <a href="https://www.facebook.com/SENA/" target="_blank">
                <img src="{% static '/img/redes/facebook.png' %}" class="imgred" alt="LOGO" />
            </a>
            <a href="https://www.instagram.com/senacomunica/" target="_blank">
                <img src="{% static '/img/redes/instagram.png' %}" class="imgred" alt="LOGO" />
            </a>
            <a href="https://twitter.com/SENAComunica?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ASENAComunica%7Ctwcon%5Es2" target="_blank">
                <img src="{% static '/img/redes/twiter.png' %}" class="imgred" alt="LOGO" />
            </a>
            <a href="https://www.youtube.com/user/SENATV" target="_blank">
                <img src="{% static '/img/redes/YouTube.png' %}" class="imgred" alt="LOGO" />
            </a>
            <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank">
                <img src="{% static '/img/icons/LogoSENAblanco.png' %}" class="imgred" alt="LOGO" />
            </a>
        </div>

    </div>
</div>
