{% load static %}
<div class="col-12 mx-auto piepag mt-5 fonfooter">
    <div class="col-11 mx-auto">
        <div class="row">
            <div class="col-9 mx-auto mt-5 txtfooter">
                <h5>SERVICIO NACIONAL DE APRENDIZAJE SENA</h5>
                <h5>DIRECCIÓN GENERAL</h5>
                <p>Calle 57 No. 8 - 69 Bogotá D.C. (Cundinamarca), Colombia<br>
                    El SENA brinda a la ciudadanía, atención presencial en las 33 Regionales y 117 Centros de Formación<br>
                    <a href="https://www.sena.edu.co/es-co/transparencia/Paginas/mecanismosContacto.aspx"> Conozca aqui los puntos de atencion </a>  <br>
                    Líneas de atención al ciudadanos, empresarios y línea PQRS:<br>
                    Bogotá +(57) 601 736 60 60 - Línea gratuita y resto del país 018000 910270</p>
            </div>
            <div class="col-3 mx-auto mt-4">
                <img src="{% static 'img/img/foot1.png' %}" height=250px>
            </div>
        </div>
    </div>
</div>
<div class="col-10 mx-auto mt-4">
    <div class="row">
        <div class="col-1 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.facebook.com/SENA/">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-facebook"></i>
                        </div>
                    </a>
                </div>
                <div class="col-4 mx-auto mt-2">
                    <p class="txticon">@SENA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.instagram.com/senacomunica/">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://twitter.com/SENAComunica?ref_src=twsrc%5Etfw%7Ctwcamp%5Eembeddedtimeline%7Ctwterm%5Escreen-name%3ASENAComunica%7Ctwcon%5Es2" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-twitter"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-5 mx-auto">
                    <a href="https://www.youtube.com/user/SENATV" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-youtube"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENATV</p>
                </div>
            </div>
        </div>
        <div class="col-1 mx-auto">
            <div class="row">
                <div class="col-1 mx-auto">
                    <a href="https://www.sena.edu.co/es-co/Paginas/default.aspx" target="_blank">
                        <div class="col-1 mx-auto">
                            <img class="logoIcon" src="/static/img/icons/logoSena.png"/>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENA</p>
                </div>
            </div>
        </div>
        <div class="col-2 mx-auto">
            <div class="row">
                <div class="col-1 mx-auto">
                    <a href="https://www.tiktok.com/@senacomunica_" target="_blank">
                        <div class="col-1 mx-auto">
                            <i class="iconRed fa-brands fa-tiktok"></i>
                        </div>
                    </a>
                </div>
                <div class="col-7 mx-auto mt-2">
                    <p class="txticon">@SENACOMUNICA_</p>
                </div>
            </div>
        </div>
    </div>
</div>

