{% load static %}
<div class="col-12 mx-auto">
    <div class="alert alert-info alert-dismissible fade show atxt3" role="alert">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        <button type="button" class="btn-close ytxt1" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>

<!-- 
== Bootstrap Messages tags ==
message.debug  [white]
message.info [blue]
message.success [green]
message.warning [yellow]
message.error [red]

messages.debug(request, '%s SQL statements were executed.' % count)
messages.info(request, 'Three credits remain in your account.')
messages.success(request, 'Profile details updated.')
messages.warning(request, 'Your account expires in three days.')
messages.error(request, 'Document deleted.')
-->