<h3>Estimado Señor(a) Instructor(a)</h3>
<h1>{{ first_name }} {{ last_name }}.</h1>
<br> 
<p>Se ha activado la plataforma para que los Aprendices evaluen el rendimiento de los Instructores y para este proposito 
    estamos enviando el HASH para el acceso a la plataforma en la que podrá subir una foto para el perfil con la finalidad 
    que los Aprendices no se y consultar 
    los resultados de evaluación de los aprendices.</p>
<strong>Tienes un plazo de 5 días para subir tu foto de perfil</strong>
<h3 style='color:red'> {{ hash }} </h3>

<p>Agradecemos tu participación, somos la familia <strong>SENA</strong>
